body {

  background-color: maroon;



}
p{

  color:yellow;
}

#Circle
{
  width: 5px;
      height: 5px;
      background: #000000;
      border-radius: 0px;

        width: 100px;
        height: 100px;
        background-color: red;
        animation-name: example;
        animation-duration: 11s;
        animation-iteration-count: infinite;

}

@keyframes example {
from{object-position: 0,0px}
to{object-position: 1,10px}
from {background-color: red;}
to {background-color: yellow;}

from{object-position: 1,10px}
to{object-position: 2,6px}
from {background: yellow;}
to{background-color: purple;}

from{object-position: 2,6px}
to{object-position: 5,7px}
from{background-color: purple;}
to{background-color: orange; }

from{object-position: 5,7px}
to{object-position: 6,3px}
from{background-color: orange;}
to{background-color: green;}


}
