body {

  background-color: maroon;



}
p{

  color:yellow;
}
#circle{
width: 5px;
    height: 5px;
    background: #000000;
    border-radius: 2.5px;
}
div{
        width: 100px;
        height: 100px;
        border: 1px; 
        background-color: silver;
        object-fit: none;
        background-color: red;
        animation-duration: 11s;
        animation-iteration-count: infinite;
}

@keyframes example {
from{object-position: right 56px;}
to{object-position: center 60px;}
from {background-color: red;}
to {background-color: yellow;}

from{object-position: left,60px}
to{object-position: top,26px}
from {background: yellow;}
to{background-color: purple;}

from{object-position: top, 26px}
to{object-position: bottom,49px}
from{background-color: purple;}
to{background-color: orange; }

from{object-position: bottom,49px}
to{object-position: left,40px}
from{background-color: orange;}
to{background-color: green;}


}
